:root{
  --check-char: "\2714 ";
  --cross-char: "\2716 ";
}

.error{
  border: 1px solid red;
}

.hidden{
  display: none;
}

.valid {
  color: green;
}

.valid:before {
  content: var(--check-char);
}

.invalid {
  color: red;
}

.invalid:before {
  content: var(--cross-char);
}